img {
    width: 100%;
    height: auto;

}
.w3-bar-item {
    float: right;
    width: 20%;
}
.w3-bar-item a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.w3-bar-item a:hover {
    background-color: #ddd;
    color: black;
}
.w3-bar-item a.active {
    background-color: #4CAF50;
    color: white;
}
.w3-display-container {
    max-width: 100%;
    height: auto;
    position: relative;
    margin: auto;
}
.w3-display-bottommiddle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.w3-content {
    max-width: 100%;
    height: auto;
    position: relative;
    margin: auto;
}
body {
    background-color: lightgrey;
    color: black;
}

.user-banner{
    background-color: #F5F5F5;
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 20px;
}
.user-banner h2{
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}
#team-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
#team-list{
    display:inline-block;
    margin-right: 10px;
}
#team-list{
    height: 30px;;
    width: 30px;
    margin-right: 5px;
}
.page-banner{
    background-color: #333;
    color: #FFF;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.banner-text{
    max-width: 800px;
    margin: 0 auto;
 }
 .banner-text h1{
    font-size: 36px;
    margin-bottom: 10px;
 }
 .banner-text p{
    font-size: 18px;
    margin-bottom: 0;
 }
 .slideshow {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  
  .slideshow img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slideshow img.active {
    opacity: 1;
  }
  
  .slideshow .slick-prev,
  .slideshow .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
  }
  
  .slideshow .slick-prev {
    left: 0;
  }
  
  .slideshow .slick-next {
    right: 0;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
  
  .slick-dots li button:before {
    color: black;
  }
  
