<form>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="col-md-6" style="margin-top: 100px;">
            <div class="form-group">
                      <h3 class="text-center">Login</h3>
                <label for="exampleInputEmail1">Email address:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password:</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div> 
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>
<script src="/static/js/login.js" type="module"></script>