<div>
    <head>
        <title>My Favorite Sports Teams Thread</title>
    </head>
    <body>
        <h1>My Favorites Threads</h1>

        <h2>Recent Events</h2>
        <ul id="event list">
        </ul>
    
    </body>
</div>



<script src="/static/js/threads.js"></script>