body {
    background-color: lightgrey;
    color: black;
}

.container-left,
.container-right {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.container-left {
    margin-right: 2%;
}

.container-right {
    margin-left: 2%;
}